body {
    background-color:#faebd7;
    font-family: 'Arial Rounded', sans-serif; 
    text-align: center;
    height: 100vh;
    margin-bottom: 100px;
}

.board {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    max-width: 50%;
    margin: auto;
    cursor: url(/images/Milo\ Animation.PNG) 10 10, auto;
    overflow: hidden;
}

.square {
    aspect-ratio: 1/1;
    border: 1px solid rgb(250, 250, 250);
}

.custom-cursor {
    width: 50px;
    height: 50x;
}

#start {
    margin-bottom: 30px;
}

#reset {
    margin: 30px;
}

