body {
    background-color:#faebd7;
    font-family: 'Arial Rounded', sans-serif; 
    text-align: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-self: center;
    justify-content: center;
}

.square {
    width: 18%;
    aspect-ratio: 1/1;
    border: 1px solid rgb(250, 250, 250);
    align-self: center;
}