body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100dvh;
    margin: 0;
    background-color:#FEEE91;
    font-family: 'Arial Rounded', sans-serif; 
    text-align: center;
    gap: 1vh;
}

header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

h1, h2, h3, p {
    margin: 0;
    padding: 1;
    line-height: 1.1;
}

.board {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 80vmin;
    height: 80vmin; 
    flex-shrink: 1;
    min-height: 0;
    margin: auto;
    border: 5px solid #1b348e;
    background-color: #ACE4FF;
    margin-bottom: 20px;
    cursor: url('/images/miloAnimation.PNG') 10 10, auto;
}

.custom-cursor {
    width: 50px;
    height: 50x;
}

.treat img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.falling-treat {
    width: clamp(40px, 8vmin, 80px);
    height: clamp(40px, 8vmin, 80px);
    position: absolute;
    top: 0px;
    animation: fall 15s linear forwards;
    z-index: 10;
}

@keyframes fall {
    0% {
        top: -50px;
    }
    100% {
        top: calc(100%);
    }
}

#milkBone, #iceCreamCone, #broccoli, #apple {
    display: none;
}

#start, #reset {
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    background-color: #ffa239;
    border-style: dashed;
    flex-shrink: 0;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#bttn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
}