body {
    background-color:#faebd7;
    font-family: 'Arial Rounded', sans-serif; 
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    max-width: 100%;
    justify-content: center;
    margin: 50px;
}

.square {
    aspect-ratio: 1/1;
    border: 1px solid rgb(250, 250, 250);
}