body {
    background-color:#faebd7;
    font-family: 'Arial Rounded', sans-serif; 
    text-align: center;
    height: 100vh;
    margin-bottom: 100px;
}

.board {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    max-width: 50%;
    margin: auto;
    cursor: url(/images/Milo\ Animation.PNG) 10 10, auto;
}

.square {
    aspect-ratio: 1/1;
    border: 1px solid rgb(250, 250, 250);
}

.custom-cursor {
    width: 50px;
    height: 50x;
}

.treat img {
    width: 15%;
    object-fit: contain;
}

.treat {
    position: absolute;
    top: 0px;
    left: 10%;
    transform: translateX(-50%);
    animation: fall 10s linear forwards;
    z-index: 10;
}

@keyframes fall {
    0% {
        top: -50px;
    }
    100% {
        top: calc(100%);
    }
}

#start {
    margin-bottom: 30px;
}

#reset {
    margin: 30px;
}

